<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

    <display-name>User Registeration App</display-name>

    <!-- YAML config file path -->
    <context-param>
        <param-name>configuration</param-name>
        <param-value>config/application.yml</param-value>
    </context-param>

    <!-- Log4j2 YAML -->
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:config/log4j2.yml</param-value>
    </context-param>

     <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RegisterationController</servlet-name>
        <servlet-class>main.java.com.av.regapp.controller.RegisterationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterationController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
</web-app>